.content {
  grid-area: c;
  grid-area: 4 / 2 / 6 / 5; 
   background-image: url('https://i.pinimg.com/736x/16/5a/96/165a9604a9bdfc5d93805dcd82e63897.jpg');
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: 10px;
   background-size: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   align-content: stretch;
   flex-wrap: nowrap;

  }

  .Item{
    color: red;
  }