.header { 
    
  grid-area: 1 / 1 / 2 / 6; 
  background: #3b5998;
  background-image: url('https://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG34.png');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 80px;
}