.navF {
    
      grid-area: 4 / 1 / 6 / 2; 
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
     }
 .Item{
       color: blue;
 }
   
 .Item.activ{
       color: gold;
 }