.navH { 
    
  grid-area: 2 / 1 / 4 / 2; 
  
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnO66OgtgAtfRVd9_Ln0nInd7lEsz52DnyTA&usqp=CAU');
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}