.profile { 
    
  grid-area: 2 / 2 / 4 / 6; 
  background: black;
  background-image: url('https://games.mail.ru/hotbox/content_files/article/2019/12/21/6d0282f145a84a4ba7c62c49a1c42c49.jpg');
  background-repeat: no-repeat;
  
  background-position: center;
}
