.appWrapper{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px auto 150px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "h h"
    "n c";
  width: 1200px;
  height: 1000px;
}


  
 
  
 
  